## 타이타닉 데이터셋으로 전처리 연습

In [1]:
import numpy as np
import pandas as pd
# 만약 pasdas설치 안되어있으면
# !pip install pandas 치면됨!!

In [2]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic') # 구글드라이브에 올려놓은 자료

In [4]:
# csv 파일에서 불러온 데이터셋의 가장 앞의 5개 보여줌
train.head() #안에 숫자n을 넣으면, 앞의 n개의 데이터 보여줌

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

* PassengerId: 승객 탑승 아이디
* Survived: 생존여부, 1: 생존, 0: 사망
* Pclass: 선실의 등급
* Name: 이름
* Sex: 성별
* Age: 나이
* SibSp: 형제, 자매, 배우자 수 (수평관계)
* Parch: 부모, 자식 수 (위아래 수직관계)
* TIcket: 티켓 번호
* Fare: 요금
* Cabin: 좌석 번호
* Embarked: 탑승 항구

### 전처리: train/validation 데이터셋 나누기

1. feature와 label을 정의
2. feature/label을 적절한 비율로 나눈다.

In [5]:
# 전체 데이터 중 학습에 사용할 데이터를 선택, x로 사용
feature = ['Pclass', 'Sex', 'Age', 'Fare'] # x로 사용

# 정답값 혹은 예측값과 비교할 값, y로 사용
label = ['Survived']

In [7]:
# feature를 정의하고 train[feature]를 지정해주면 리스트안에 선택된 항목만 가져온다.
train[feature].head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [9]:
train[label].head() # 1: 생존, 0: 사망

   Survived
0         0
1         1
2         1
3         1
4         0

In [10]:
# train의 데이터 특성을 확인해보자
train.info() # 실행결과: Non-Null Count에 Age, Cabin은 데이터 누락됨을 알 수 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(train[feature], train[label], test_size=0.2, random_state=123)

In [12]:
print(x_train.shape)
print(y_train.shape)
print(x_valid.shape)
print(y_valid.shape)

(712, 4)
(712, 1)
(179, 4)
(179, 1)